aiobotocore 
aiohappyeyeballs 
aiohttp 
aioitertools 
aiosignal 
alabaster 
alembic 
altair  
annotated-types 
anyio 
appdirs==1.4.4
archspec 
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
astropy-iers-data 
asttokens 
async-lru 
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker 
bokeh 
boltons 
botocore 
Bottleneck 
Brotli 
cachetools 
cattrs==24.1.3
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
colorcet 
comm 
constantly 
contourpy 
cookiecutter 
cryptography 
cssselect 
cycler 
cytoolz 
dask 
dask-expr 
dataclasses-json==0.6.7
datashader 
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
distributed 
distro 
dnspython==2.7.0
docstring-to-markdown 
docutils 
entrypoints==0.4
et-xmlfile 
executing 
Faker==37.1.0
fastjsonschema 
favicon==0.7.0
filelock 
filetype==1.2.0
flake8 
Flask 
flatbuffers==25.2.10
fonttools 
fqdn==1.5.1
frozendict 
frozenlist 
fsspec 
gensim 
geopandas==1.0.1
gitdb 
GitPython 
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
greenlet 
grpcio==1.70.0
grpcio-status==1.70.0
h11 
h5py 
HeapDict 
holoviews 
htbuilder==0.9.0
httpcore 
httplib2==0.22.0
httpx 
httpx-sse==0.4.0
huggingface-hub==0.30.1
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
importlib-metadata 
incremental 
inflection 
iniconfig 
intake 
interchange==2021.0.4
intervaltree 
ipydatawidgets==4.3.5
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isoduration==20.11.0
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi 
jellyfish 
Jinja2 
jmespath 
joblib 
json5 
jsonpatch 
jsonpickle==4.0.2
jsonpointer==2.1
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keyring 
kiwisolver 
langchain==0.3.19
langchain-community==0.3.17
langchain-core==0.3.35
langchain-experimental==0.3.4
langchain-google-genai==2.0.9
langchain-text-splitters==0.3.6
langgraph==0.3.25
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.8
lazy-object-proxy 
lazy_loader 
lckr_jupyterlab_variableinspector 
libarchive-c 
linkify-it-py 
llvmlite 
lmdb 
locket 
lxml==5.2.1
lz4 
Mako 
monotonic==1.6
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
mypy 
mypy-extensions 
mysql-connector-python==9.2.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
openmeteo_requests==1.4.0
openmeteo_sdk==1.19.0
openpyxl 
orjson==3.10.15
ormsgpack==1.9.1
overrides 
packaging 
pandas 
pandocfilters 
panel 
pansi==2024.11.0
param 
paramiko 
parsel 
parso 
partd 
pathspec 
patsy 
pexpect 
pickleshare 
pillow 
pkce 
pkginfo 
platformdirs 
plotly 
pluggy 
ply 
prometheus-client 
prompt-toolkit 
Protego 
proto-plus==1.26.0
protobuf==5.29.3
psutil 
ptyprocess 
pure-eval 
py-cpuinfo 
py2neo==2021.2.4
py4j==0.10.9.7
pyarrow 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pyct 
pycurl 
pydantic 
pydantic-settings 
pydantic_core 
pydeck 
PyDispatcher 
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
pymdown-extensions==10.14.3
pymongo==4.11.2
PyNaCl 
pyodbc 
pyogrio==0.10.0
pyOpenSSL 
pyparsing 
pyproj==3.7.1
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
PySocks 
pyspark==3.5.5
pytest 
python-dateutil 
python-dotenv 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-slugify 
pythreejs==2.4.2
pytoolconfig 
pytz 
pyvis==0.3.2
pyviz_comms 
PyWavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
readchar 
referencing 
regex 
requests 
requests-cache==1.2.1
requests-file 
requests-toolbelt 
retry-requests==2.0.0
rfc3339-validator 
rfc3986-validator 
rope 
rpds-py 
rsa==4.9
Rtree 
s3fs 
safetensors==0.5.3
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn 
semver 
Send2Trash 
sentence-transformers==4.0.2
sentry-sdk 
service-identity 
setuptools==75.1.0
shapely==2.0.7
shellingham 
sip 
six 
smart-open 
smmap 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data 
statsmodels 
streamlit 
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.13.1
tables 
tabulate 
tblib 
tenacity 
terminado 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
tokenizers==0.21.1
toml 
tomli 
tomlkit 
toolz 
torch==2.6.0
tornado 
tqdm 
traitlets 
traittypes==0.2.1
transformers==4.50.3
truststore 
Twisted 
twisted-iocpsupport; sys_platform == "win32"
typer 
typing-inspect==0.9.0
typing_extensions 
tzdata 
uc-micro-py 
ujson 
unicodedata2 
Unidecode 
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==2.2.0
urllib3 
us==3.2.0
validators==0.34.0
w3lib 
watchdog 
wcwidth 
webcolors==24.11.1
webencodings 
websocket-client 
Werkzeug 
whatthepatch 
wheel==0.44.0
widgetsnbextension 
win-inet-pton 
wrapt 
xarray 
xlwings 
xxhash==3.5.0
xyzservices 
yapf 
yarl 
zict 
zipp 
zope.interface 
zstandard 
matplotlib==3.10.3